.product-page{
    height: 100vh;
}

.close-btn{
    position: absolute;
    top: 3%;
    left: 8%;
    cursor: pointer;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.product-img{
    width: 75%;
}

.product-img>img{
    height: 30rem;
}

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    width: 20%;
}

.product-description>:nth-child(1){
    text-align: right;
    padding: 1.2rem 0;
}

.product-description>:nth-child(1)>:nth-child(1){
    font-size: 0.9rem;
    color: rgb(57, 54, 54);
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

.product-description>:nth-child(1)>:nth-child(2){
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
}

.product-description>:nth-child(2){
    height: 43%;
}

.p-heading{
    font-size: 0.9rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgb(68, 64, 64);
}

.p-desc{
    font-size: 1rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-size: 0.9rem;
}

.p-btn{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.p-btn>button{
    height: 1.6rem;
    width: 80%;
    background: none;
    outline: none;
    border: 1px solid black;
    font-size: 0.8rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    cursor: pointer;
}

.p-btn>button:hover{
    color: gray;
    border: 1px solid gray;
}